services:
  ad-nauseam:
    build: .
    container_name: ad-nauseam
    restart: unless-stopped
    env_file: .env

    shm_size: "512mb"

    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"