name: pytest

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/astral-sh/uv:python3.13-bookworm-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up project dependencies
        run: |
          pip install uv
          uv sync --frozen --group dev

      - name: Run tests
        run: uv run pytest -q